div.leftside {
    width: 414px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 425px;
}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

div.center > table {
    margin-left:  auto;
    margin-right: auto;
}

div.tight pre {
  line-height: 1;
}

.obscure > h1 {
    display: none;
}

/* Use eigtht notes for list bullets */

ul ul {
  list-style: none;
}

li p {
  display: contents;
  font-weight: bold;
}

ul ul li::before {
  content: "\266A";
  color: red;
  font-weight: bold;
  font-size: 150%;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.embiggen {
  font-size: 200%;
  vertical-align: sub;
}
